EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id-here.apps.googleusercontent.com
EXPO_PUBLIC_SCHEME=splitwise
EXPO_PUBLIC_WEB_URL=http://localhost:8081
EXPO_PUBLIC_API_URL=http://localhost:3000/api/v1